---
kind: CronJob
apiVersion: batch/v1
metadata:
  name: scrub
  namespace: angos
spec:
  schedule: "*/5 * * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
          - name: cronjob
            image: ghcr.io/project-angos/angos:main
            args:
            - scrub
            env:
            - name: RUST_LOG
              value: info
            resources:
              requests:
                memory: "16Mi"
                cpu: "100m"
              limits:
                memory: "16Mi"
            volumeMounts:
              - name: angos-config
                mountPath: /config.toml
                subPath: config.toml
          volumes:
            - name: angos-config
              secret:
                secretName: angos-config
