---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: angos
  namespace: angos
  labels:
    app: angos
spec:
  replicas: 1
  selector:
    matchLabels:
      app: angos
  template:
    metadata:
      labels:
        app: angos
    spec:
      containers:
      - name: angos
        image: ghcr.io/project-angos/angos:main
        args:
        - server
        env:
        - name: RUST_LOG
          value: info
        ports:
        - containerPort: 8000
        startupProbe:
          tcpSocket:
            port: 8000
          periodSeconds: 1
          failureThreshold: 3
          successThreshold: 1
        livenessProbe:
          tcpSocket:
            port: 8000
          initialDelaySeconds: 1
          periodSeconds: 2
          failureThreshold: 3
          successThreshold: 1
        resources:
          requests:
            memory: "150Mi"
            cpu: "100m"
          limits:
            memory: "500Mi"
        volumeMounts:
        - name: angos-config
          mountPath: /config.toml
          subPath: config.toml
      volumes:
      - name: angos-config
        secret:
          secretName: angos-config
