---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: angos
  namespace: angos
spec:
  rules:
  - host: cr.example.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: angos
            port:
              number: 8000
  tls:
  - hosts:
    - cr.example.com
