---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: angos
  namespace: angos
spec:
  routes:
    - match: HostSNI(`cr.example.com`)
      services:
        - name: angos
          port: 8000
  tls:
    passthrough: true
