services:
  valkey:
    image: valkey/valkey:8.0.2
    ports:
      - "6379:6379"
  angos:
    image: ghcr.io/project-angos/angos:main
    ports:
      - "8000:8000"
    volumes:
      - ./config.toml:/config.toml
      - ./data:/data
    environment:
      RUST_LOG: "info"
    command:
      - server
